{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{% static 'bookmarks/76ae8c0.css' %}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ icon }}" />
    </head>
    <body>
        {% block header %}
            <header class="header">
                <nav class="container-fluid nav navbar-inverse">
                    <h3 class="brand"><a href="{% url 'bookmarks:index' %}">Zakładnik</a></h3>
                    <ul class="nav nav-tabs">
                        <li {% if False %}class="active"{% endif %}>
                            <a href="">
                                <span class="glyphicon glyphicon-share"></span>Sugestie
                            </a>
                        </li>
                        {% url 'bookmarks:my' as currentUrl %}
                        <li {% if request.get_full_path == currentUrl %}class="active"{% endif %}>
                            <a href="{% url 'bookmarks:my' %}">
                                <span class="glyphicon glyphicon-check"></span>Moje
                            </a>
                        </li>
                        {% url 'bookmarks:add' as currentUrl %}
                        <li {% if request.get_full_path == currentUrl %}class="active"{% endif %}>
                            <a href="{% url 'bookmarks:add' %}">
                                <span class="glyphicon glyphicon-plus"></span>Dodaj
                            </a>
                        </li>
                {% if request.user.is_authenticated == False %}
                        {% url 'bookmarks:registration' as currentUrl %}
                        <li class="pull-right {% if request.get_full_path == currentUrl %}active{% endif %}">
                            <a href="{% url 'bookmarks:registration' %}">
                                <span class="glyphicon glyphicon-pencil"></span>Rejestracja
                            </a>
                        </li>
                        {% url 'bookmarks:login' as currentUrl %}
                        <li class="pull-right {% if request.get_full_path == currentUrl %}active{% endif %}">
                            <a href="{% url 'bookmarks:login' %}">
                                <span class="glyphicon glyphicon-user"></span>Logowanie
                            </a>
                        </li>
                {% else %}
                        <li class="pull-right">
                            <a href="{% url 'bookmarks:logout' %}?next={% url 'bookmarks:index' %}">
                                <span class="glyphicon glyphicon-user"></span>Wyloguj
                            </a>
                        </li>
                {% endif %}
                    </ul>
                </nav>
            </header>
        {% endblock %}


<section class="container">
        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}
</section>
{% block footer %}
<footer>
    <div class="navbar-inverse">
        <p class="container text-info">aaaa</p>
    </div>
</footer>

{% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{% static 'bookmarks/js/jquery-2.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bookmarks/js/bootstrap.min.js' %}"></script>
        {% endblock %}
    </body>
</html>